# Database Configuration
DATABASE_URL="postgresql://admin:password123@postgres-db:5432/order_tracking_db?schema=public"

# RabbitMQ Configuration
RABBITMQ_URL="amqp://guest:guest@rabbitmq:5672"

# Server Configuration
PORT=4000
NODE_ENV=development
